services:
  portfolio:
    build: .
    labels:
      caddy: fleischer.design
      caddy.reverse_proxy: "{{upstreams 3000}}"
    env_file: .env
    restart: unless-stopped
    networks:
      - web
      
networks:
  web:
    external: true
