name: Build and Push Docker Image
on:
  push:
    branches: [ "master" ] # Oder "master"
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v6
        with:
          context: . # Annahme: Dockerfile ist im Root-Verzeichnis
          push: true
          tags: ghcr.io/${{ github.repository }}:latest